<!doctype html>
<head>
	<title> YT Skimmer </title> 
{{!-- Used for glyphicons --}}
  {{!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">  --}}

	<link rel="stylesheet" type="text/css" href="static/css/bootstrap-nonresp.min.css">
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> --}}
  <link rel="stylesheet" type="text/css" href="static/css/index.css">
  <link rel="icon" type="image/png" href="static/img/favicon.ico">
  <script src="static/js/jquery-1.11.3.min.js"></script>
  <!-- <script src="static/js/bootstrap-nonresp.min.js"></script> -->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65203006-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
	<div class="container">
    <div id="navbar">

      <form class="wrapper col-xs-5 col-xs-offset-1" id="searchform" action="watch" onsubmit="return loadVideoFormSubmit();">
          <input type="text" id="yt-link" name="v" placeholder="Enter a YouTube URL"  onfocus="if(this.placeholder=='Enter a YouTube URL')this.placeholder='';" onblur="if(this.placeholder=='')this.placeholder='Enter a YouTube URL';"/>
          <!-- <button type="submit" >Go!</button> -->
      </form>
      <div class="col-xs-5 no-padding constrain" id="navright">
        <img id="help-icon" src="static/img/help_icon_white.png">
      </div>
    </div>
    <div id="help-popover">
      <div class="col-xs-offset-10 col-xs-1" id="arrow-nest">
        <div class="arrow-up"></div>
      </div>
      <div id="instructions">
        <div class="pad15">
          <table id="hotkeys">
            <tr class="padlinetop">
              <td class="instruct-cmd">Space</td>
              <td class="instruct-desc">Play/Pause</td>
            </tr>
            <tr class="padlinetop">
              <td class="instruct-cmd">R</td>
              <td class="instruct-desc">Return to transcript location for current video time</td>   
            </tr>
            <tr class="padlinetop">
              <td class="instruct-cmd">Double-click</td>
              <td class="instruct-desc">on a caption to edit it</td>
            </tr>
            <tr class="padlinetop">
              <td class="instruct-cmd">Shift+Enter</td>
              <td class="instruct-desc"> (while editing) to split up a caption</td>
            </tr>
          </table>        
          <div class="help-content padlinetop padlinebot">
            Questions? Suggestions? Check out the <a href="about.html">About</a> page!
          </div>
        </div>
      </div>
    </div>

		<div id="main">
      <div id="shading" class="col-xs-10 col-xs-offset-1">
  			<div id="left" class="col-xs-7">
  				<div id="player"></div>
  			</div>

  			<div id="right" class="col-xs-5">
  				<div id="transcript" data-source="{{transcriptSource}}" data-edited={{transcriptEdited}}>
            {{#if transcriptLoaded}}
              {{#if transcriptType}}
                <span class="transcriptType">{{transcriptType}}</span>
                <span><br><br></span>
              {{/if}}
              {{#each transcript}}
                {{#if this.beginPar}}
                  <p>
                {{/if}}
                <span id="caption{{@index}}" class="caption" data-time="{{this.sta}}">{{this.txt}}</span>
                {{#if this.endPar}}
                  </p>
                  <div class="space-pars"></div>
                {{/if}}
              {{/each}}
            {{/if}}
          </div>
  			</div>
      </div>
		</div>

    <div id="bot" class="col-xs-10 col-xs-offset-1 no-padding">
      <div id="social" class="col-xs-7 no-padding">
      </div>
      <div id="botright" class="col-xs-5 no-padding">
        <div id="editing">
          <div id="editingnotice">Your contribution will be used to improve future transcriptions.</div>
          <button type="button" class="btn btn-primary" id="save-changes">Save</button> 
          <button type="button" class="btn btn-default" id="close-edits">Close</button>
        </div>
        <div id="thanks" class="col-xs-5 no-padding">
          <div id="thanks-text">Thank you for helping to improve transcripts!</div>
        </div>
      </div>
    </div>
	</div>

  <script type="text/javascript">
  var transcriptLoaded = {{transcriptLoaded}};
  var curVideoId = "{{ytId}}";
  </script>
	<!-- script must be loaded after player div -->
  <script src="static/js/index.js"></script> 
  <script src="static/js/googleAnalytics.js"></script>
</body>

